.testimonial {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.712),
      rgba(41, 41, 41, 0.712)
    ),
    url(../../../image/1f0ce532510765.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.testimonialCard {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(59, 59, 59, 0.424);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
