.homeHeader {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.712),
      rgba(41, 41, 41, 0.712)
    ),
    url(../../../image/pexels-photo-1813272.jpeg);
}
.serviceHeader,
.homeHeader {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
