.dashboardMain {
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.712);
}
.dashboardMenu {
  background-color: rgba(41, 41, 41, 0.712);
  padding: 0.5em;
  color: rgb(230, 130, 0);
}
.dashboardOther {
  padding: 3em;
  color: #ffffff;
}
.paymentCard {
  border-radius: 10px;
  width: 550px;
  background-color: #ffffff;
  padding: 2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
